    * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
        }

        .ContDetalles {
            max-width: 1200px;
            margin: 50px auto;
            padding: 20px;
            background: black;
            display: grid;
            border-radius: 16px;
            grid-template-columns: 1fr 1fr;
            gap: 50px;
            box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        }

        .Imagen {
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 8px;
        }

        .detalle-info h1 {
            font-size: 400%;
            margin-bottom: 20px;
            color: #fccaca
        }

        .InfoProd {
            margin: 20px 0;
        }

        #descripcion{
            font-size: 1.5em;
        }

        .InfoProd .color, .talle {
            font-size: 1.1em;
            margin: 10px 0;
            color: #ffcece;
        }
        .InfoProd .desc{
            font-size: 2em;
            margin: 10px 0;
            color: #ffcece;
        }

        .precio-compra {
            display: grid;
            align-items: center;
            gap: 20px;
            margin: 30px 0;
        }

        .precio {
            font-size: 2.5em;
            font-weight: bold;
            color: #ffcece;
        }
        .btnagregarcarrito{
            align-self: bottom;
        }
        .detalle-info{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        @media (max-width: 768px) {
            .detalle-container {
                grid-template-columns: 1fr;
            }
        }